<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML学习</title>
    <link rel="shortcut icon" href="C:\开发工具\idea-project\snow\src\main\resources\templates\favison.ico">
</head>
<body>
<a href="#com">到达底部</a>
<b>这是一个HTML文件</b><br>
<i>这是一个i标签</i><br>
<blink>这是一个blink标签</blink><br>
<big>这是一个big标签</big><br>
<small>这是一个small标签</small><br>
<sup>这个是一个sup标签</sup><br>
<sub>这个是一个sub标签</sub><br>
<cite>这是一个cite标签</cite><br>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>


</ul>
<dl>
    <dt>无药可救</dt>
    <dd>必须死</dd>
</dl>
<a href="https://www.baidu.com">dinjiyixia</a>
<b>这是一个HTML文件</b><br>
<i>这是一个i标签</i><br>
<blink>这是一个blink标签</blink><br>
<big>这是一个big标签</big><br>
<small>这是一个small标签</small><br>
<sup>这个是一个sup标签</sup><br>
<sub>这个是一个sub标签</sub><br>
<cite>这是一个cite标签</cite><br>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>


</ul>
<dl>
    <dt>无药可救</dt>
    <dd>必须死</dd>
</dl>
<a href="https://www.baidu.com">dinjiyixia</a>
<b>这是一个HTML文件</b><br>
<i>这是一个i标签</i><br>
<blink>这是一个blink标签</blink><br>
<big>这是一个big标签</big><br>
<small>这是一个small标签</small><br>
<sup>这个是一个sup标签</sup><br>
<sub>这个是一个sub标签</sub><br>
<cite>这是一个cite标签</cite><br>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>


</ul>
<dl>
    <dt>无药可救</dt>
    <dd>必须死</dd>
</dl>
<a href="https://www.baidu.com">dinjiyixia</a><b>这是一个HTML文件</b><br>
<i>这是一个i标签</i><br>
<blink>这是一个blink标签</blink><br>
<big>这是一个big标签</big><br>
<small>这是一个small标签</small><br>
<sup>这个是一个sup标签</sup><br>
<sub>这个是一个sub标签</sub><br>
<cite>这是一个cite标签</cite><br>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>


</ul>
<dl>
    <dt>无药可救</dt>
    <dd>必须死</dd>
</dl>
<a href="https://www.baidu.com">dinjiyixia</a><b>这是一个HTML文件</b><br>
<i>这是一个i标签</i><br>
<blink>这是一个blink标签</blink><br>
<big>这是一个big标签</big><br>
<small>这是一个small标签</small><br>
<sup>这个是一个sup标签</sup><br>
<sub>这个是一个sub标签</sub><br>
<cite>这是一个cite标签</cite><br>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>


</ul>
<dl>
    <dt>无药可救</dt>
    <dd>必须死</dd>
</dl>
<a href="https://www.baidu.com">dinjiyixia</a><b>这是一个HTML文件</b><br>
<i>这是一个i标签</i><br>
<blink>这是一个blink标签</blink><br>
<big>这是一个big标签</big><br>
<small>这是一个small标签</small><br>
<sup>这个是一个sup标签</sup><br>
<sub>这个是一个sub标签</sub><br>
<cite>这是一个cite标签</cite><br>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>


</ul>
<dl>
    <dt>无药可救</dt>
    <dd>必须死</dd>
</dl>
<a href="https://www.baidu.com">dinjiyixia</a>
<b>这是一个HTML文件</b><br>
<i>这是一个i标签</i><br>
<blink>这是一个blink标签</blink><br>
<big>这是一个big标签</big><br>
<small>这是一个small标签</small><br>
<sup>这个是一个sup标签</sup><br>
<sub>这个是一个sub标签</sub><br>
<cite>这是一个cite标签</cite><br>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>


</ul>
<dl>
    <dt>无药可救</dt>
    <dd>必须死</dd>
</dl>
<a href="https://www.baidu.com">dinjiyixia</a>
<b>这是一个HTML文件</b><br>
<i>这是一个i标签</i><br>
<blink>这是一个blink标签</blink><br>
<big>这是一个big标签</big><br>
<small>这是一个small标签</small><br>
<sup>这个是一个sup标签</sup><br>
<sub>这个是一个sub标签</sub><br>
<cite>这是一个cite标签</cite><br>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>


</ul>
<dl>
    <dt>无药可救</dt>
    <dd>必须死</dd>
</dl>
<a href="https://www.baidu.com">dinjiyixia</a>
<h1 id="com">我就是底部</h1>
<select name="选择器">
    <option value="1">选项1</option>
    <option value="2">选项2</option>
    <option value="3">选项3</option>

</select>




</body>
</html>