<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>income变动</title>
    <script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery.fileDownload/1.4.2/jquery.fileDownload.min.js"></script>

</head>
<body>
<div>
    <input id="date" type="date">
    <input id="money" type="number">
    <button id="btn1">提交</button>
    <button id="btn2">查询明细</button>
    <button id="queryCount">总额</button>
    <input class="count" type="number" disabled="disabled">次
    <input class="countMoney" type="number" disabled="disabled">元
</div>

<table>
    <thead >
    <tr>
        <th>序号</th>
        <th>金额</th>
        <th>日期</th>
    </tr>
    </thead>
    <tbody ></tbody>

</table>
<span>业务账号</span><input id="staffId" type="text">
<span>账号姓名</span><input id="staffName" type="text">
<button id="excel">下载</button>
</body>
<script>
    $("#btn1").click(function(){
        var date=$("#date").val();
        if($.trim(date)==""){
            alert("请输入日期！！！");
            return;
        }
        var param ={
            income:$("#money").val(),
            date:date

        };
        $.ajax({
            "url": "http://localhost:8080/income/insertIncome",
            "contentType": "application/json;charset=UTF-8",
            "data": JSON.stringify(param),
            "type": "post",
            "dataType": "json",
            "success": function(result) {
                alert("注册成功！" +result.returnMessage);
            },
            "error":function(result) {
                alert("注册失败！" + result.returnMessage);
            }
        });
    });
    $("#btn2").click(function(){
        var param ={
            income:$("#money").val(),
            date:date
        };

        $.ajax({
            "url": "/income/queryIncome",
            "contentType": "application/json;charset=UTF-8",
            "data": JSON.stringify(param),
            "type": "post",
            "dataType": "json",
            "success": function(result) {
               var beans = result.beans;
               var trs ="";
               for(var i=0;i<beans.length;i++){
                   var bean =beans[i];
                   trs+="<tr><td>"+(i+1)+"</td><td>"+bean.amount+"</td><td>"+bean.cmosmodifytime+"</td></tr>"
               }
               $("tbody").html(trs);

            },
            "error":function(result) {
                alert("查询失败！" + result.returnMessage);
            }
        });
    });
    // $("#excel").click(function(){
    //
    //     var url ="http://localhost:8080/file/excelDown"
    //     var a=document.createElement("a");
    //     a.href=url;
    //     a.click();
    // });
    $('#excel').bind("click", function () {
        var httpMethod = 'get';
        var url = "http://localhost:8080/file/excelDown";
        var params = {
            staffId: $("#staffId").val(),
            staffName: $("#staffName").val()
        };
        $.fileDownload(url, {
            httpMethod: httpMethod,
            // 因为这个插件貌似只支持URL参数,所以要用jquery param将js对象转成URL参数
            data: $.param(params),
            prepareCallback: function (url) {
                console.log("正在导出...");
            },
            //要想成功回调失败和成功方法，要在响应首部加 response.setHeader("Set-Cookie", "fileDownload=true; path=/");
            successCallback: function (url) {
                console.log("导出成功");
            },
            failCallback: function (html, url) {
                console.log("导出失败");
            }
        });
    });
    $("#queryCount").click(function(){

        $.ajax({
            "url": "/income/queryCountMoney",
            "contentType": "application/json;charset=UTF-8",
            "data":"",
            "type": "get",
            "dataType": "json",
            "success": function(result) {
                var count = result.bean.count;
                $(".count").val(count);
                $(".countMoney").val(result.bean.countMoney);
            },
            "error":function(result) {
                alert("查询失败！" + result.returnMessage);
            }
        });
    });



</script>
</html>