<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件的组合使用</title>
    <script type="text/javascript" src="../../static/react/react.development.js"></script>
    <script type="text/javascript" src="../../static/react/react-dom.development.js"></script>
    <script type="text/javascript" src="../../static/react/prop-types.js"></script>
    <script type="text/javascript" src="../../static/react/babel.min.js"></script>


</head>
<body>
<div id="example1"></div>
<script type="text/babel">
    /**
     * 问题： 数据保存在哪个组件内
     * 要看数据是某个组件需要（给它），还是某些组件需要（给他们共同的父组件）
     * 子组件中不能直接改变父组件的状态
     * 状态在哪个组件，更新状态的行为就应该发生在哪个组件
     * 如何解决：父组件定义函数，传递给子组件，子组件调用
     */
    class App extends React.Component{
        constructor(props){
            super(props);
            this.state= {
                todos: ['火锅', '烤肉', '铁板烧']
            }
            this.addTodo=this.addTodo.bind(this)

        }
        addTodo(todo){
            const{todos}=this.state;
            todos.unshift(todo);
            //更新状态
            this.setState({
                todos
            })
        }
       render(){
            const{todos}=this.state
           return (
               <div>
                  <h1>to be continue</h1>
                   <Add count={todos.length} addTodo={this.addTodo}/>
                   <List todos={todos}/>
               </div>
           );
       }
    }
    class List extends React.Component{

        render(){
            return (
                <ul>
                    {
                        this.props.todos.map((todo,index)=><li key={index}>{todo}</li>)
                    }
                </ul>

            );
        }
    }

    class Add extends React.Component{
                   constructor(props){
                       super(props)
                      this.add= this.add.bind(this)
                   }
           add(){
              //1.读取输入的数据
               const todo = this.todoInput.value.trim();
              //2.检查合法性
               if(!todo){
                   return ;
               }
              //3.添加
               this.props.addTodo(todo);

          }

           render(){
               return (
                   <div>
                   <input type="text" ref={input=>this.todoInput =input}/>
                   <button onClick={this.add}>add #{this.props.count+1}</button>
                   </div>
               );
           }
    }
    //属性必填校验
    List.propTypes ={
        todos:PropTypes.array.isRequired

    }
    Add.propTypes = {
         count:PropTypes.number.isRequired,
        addTodo:PropTypes.func.isRequired
    }
    ReactDOM.render(<App/>,document.getElementById('example1'));
</script>
</body>
</html>