<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xue.study.snow.mapper.UserDAO">
    <!--填写映射-->
    <select id="getUserById" resultType="java.util.Map" parameterType="java.util.Map">
      select username,age,phone from user where username = #{username}
    </select>
    <select id="queryUserByName" resultType="java.util.Map" parameterType="java.util.Map">
        select id,username,age,phone,nickname,cmosmodifytime  from user where username like CONCAT('%',#{userName},'%')
    </select>
    <select id="querySalaryByUsername" resultType="java.util.Map" parameterType="java.util.Map">
        select m.username,m.age,m.phone,n.salary  from  user m left join  usersalary n on m.username = n.username where m.username =#{userName}
    </select>
    <insert id="insertIncome" parameterType="java.util.Map">
        insert into income_table (amount,cmosmodifytime) values(#{income},#{date})
    </insert>
    <select id="queryIncome" resultType="java.util.Map">
        select id,amount,cmosmodifytime from income_table where 1=1 order by cmosmodifytime asc

    </select>
    <select id="exportStaffId" resultType="java.util.Map" parameterType="java.util.Map">
        select staffId,staffName,staffState,staffIdstatus from t_ucp_staffbasicinfo
        <where>
            1=1
            <if test="staffId!=null and staffId!=''">
            and staffId = #{staffId}
            </if>
            <if test="staffName!=null">
                and staffName like CONCAT(#{staffName},'%')
            </if>
        </where>

    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(amount) from income_table
    </select>
    <select id="queryMoney" resultType="java.lang.Integer">
        select SUM(amount) from income_table
    </select>
</mapper>

